*.bak  
*.elf 
*.map 
*.srec 
*.jrf 
*.slo 
*.xqrf 
*.log 
.settings/* 
*.zip 
*.dll.gen 
tool/canoe/*.txt 
tool/canoe/*.xml 
tool/canoe/*.html 
*.blf 
*.cbf 
tool/**/dbc/*.ini
.project 
.cproject 
tool/winidea/$CallStackDump.txt 
/Debug/
my-nexus-creds 
dist 
tool/VS6/carconfig_files/*_updated.ini 
tool/canoe/**/*.ini 
binaries
.metadata/
