tool/canoe/2015_17b_CHASSIS_FR/**/*.cdd filter=lfs diff=lfs merge=lfs -text
tool/canoe/2015_17b_CHASSIS_FR/**/*.cfg filter=lfs diff=lfs merge=lfs -text
tool/canoe/2015_17b_CHASSIS_FR/**/*.arxml filter=lfs diff=lfs merge=lfs -text
tool/vcon/cfgd/Complex[[:space:]]Types/** filter=lfs diff=lfs merge=lfs -text
tool/vcon/cfgd/*.xml filter=lfs diff=lfs merge=lfs -text
tool/vcon/cfgd/Variants/** filter=lfs diff=lfs merge=lfs -text
tool/vcon/cfgd/CFG/** filter=lfs diff=lfs merge=lfs -text
tool/VS6/*.exe filter=lfs diff=lfs merge=lfs -text
tool/VS6/*.dll filter=lfs diff=lfs merge=lfs -text
