*.bak 
*.exe 
*.dll 
*.elf 
*.map 
*.srec 
blds/mingw/*
*.jrf 
*.slo 
*.xqrf 
*.log 
.settings/* 
*.zip 
*.dll.gen 
tool/canoe/*.txt 
tool/canoe/*.xml 
tool/canoe/*.html 
*.blf 
*.cbf 
tool/**/dbc/*.ini
blds/*.prj 
blds/*html 
blds/*.txt 
blds/trunk_*
*/build_configs/*/*.bin 
*/build_configs/*/configPkg 
*/build_configs/*/*.out 
*.out
*/build_configs/*/*.su 
*/build_configs/*/*.map.* 
tool/winidea/$CallStackDump.txt 
blds/dapm-module-spec-* 
blds/build_configs/* 
blds/*_removed_dot_libraries 
.cproject .project 
.project 
.cproject 
